body{
    background-color: hsl(47, 88%, 63%);
}
 .card-img-bottom {
      max-height: 100%;
      width: 50%;
      
      width: 32px;
height: 32px;
border-radius:50%;

    }

    .card{
         box-shadow: 5px 5px 0px hsl(0, 0%, 7%);
    }
    



.author p {
    font-size: 10px;
   font-weight: 800;
    
    color: hsl(0, 0%, 7%);
}
